<div class="container">
    <div class="row"></div>
    <div class="row-inline-wrap">
        <div class="row row-inline">
            <div class="col-sm-2">
                <div class="widget">
                    <div class="widget-heading">
                        <div class="title title-main">
                            <a href="http://www.cta.br/" class="logo" target="_blank">
                                <img width="50%" src="/static/images/logo-dcta.png" alt="ITA">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="touch">
                    <li><a href="{{config.portal.ita.localizacao.googleLinkMap}}" target="_blank"><i class="fa icomoon-location"></i></a>
                        <p>{{translation.partials.bottom.street}}<br />{{translation.partials.bottom.complement}}</p>
                    </li>
                    <li><i class="fa fa-phone"></i>
                        <p>{{config.portal.contato.contatos.foneAdministracao}}<br />{{config.portal.contato.contatos.foneComunicacao}}</p>
                    </li>
                    <li><i class="fa fa-envelope"></i>
                        <p><a href="{{config.portal.contato.contatos.mail}}">{{translation.partials.bottom.contact}}</a><br /><a href="{{config.portal.contato.contatos.vestibular}}">{{translation.partials.bottom.admission}}</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <div class="widget-heading">
                        <div class="title title-main">
                            <a href="http://fab.mil.br/" class="logo" target="_blank">
                                <img width="75%" src="/static/images/fab-logo.png" alt="ITA">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>