<div class="credits"><span>© ITA</span><span>2020,</span><span id="year"></span><span>|</span>{{{translation.partials.credits.author}}} - {{translation.version}}: {{data.version}}<span>|</span><a href="/{{language}}{{config.portal.contato.termos.uso}}">{{translation.partials.credits.terms}}</a><span>|</span><a href="/{{language}}{{config.portal.contato.privacidade.politica}}">{{translation.partials.credits.privacy}}</a></div>
<script type="text/javascript">
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>