<!-- INSTITUIÇÃO -->
<div class="current">
    <div class="title">
        <h4>{{translation.partials.navITAInstituicao._title}}</h4>
    </div>
    <div class="text">
        <p><i>{{translation.partials.navITAInstituicao._subtitle}}</i></p>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="title">
                <h5><a href="{{config.portal.ita.instituicao.informacoesGerais}}">{{translation.partials.navITAInstituicao.informations}}</a></h5>
            </div>
            <div class="title">
                <h5><a href="{{config.portal.ita.instituicao.visaoFuturo}}">{{translation.partials.navITAInstituicao.vision}}</a></h5>
            </div>
            <div class="title">
                <h5><a href="{{config.portal.ita.instituicao.legislacao}}">{{translation.partials.navITAInstituicao.legislation}}</a></h5>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="title">
                <h5>{{translation.partials.navITAInstituicao.history}}</h5>
            </div>
            <ul class="default">
                <li><a href="{{config.portal.ita.instituicao.historiaValores.concepcao}}">{{translation.partials.navITAInstituicao.conception}}</a></li>
                <li><a href="{{config.portal.ita.instituicao.historiaValores.construcao}}">{{translation.partials.navITAInstituicao.construction}}</a></li>
                <li><a href="{{config.portal.ita.instituicao.historiaValores.criacaoCursos}}">{{translation.partials.navITAInstituicao.courses}}</a></li>
                <li><a href="{{config.portal.ita.instituicao.historiaValores.valoresITA}}">{{translation.partials.navITAInstituicao.values}}</a></li>
            </ul>
        </div>
    </div>
</div>