<!-- ORGANIZAÇÃO -->
<div>
    <div class="title">
        <h4>{{translation.partials.navITAOrganizacao._title}}</h4>
    </div>
    <div class="text">
        <p><i>{{translation.partials.navITAOrganizacao._subtitle}}</i></p>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="title">
                <h5><a href="{{config.portal.ita.organizacao.organograma}}">{{translation.partials.navITAOrganizacao.chart}}</a></h5>
            </div>
            <div class="title">
                <h5><a href="{{config.portal.ita.organizacao.reitoria}}">{{translation.partials.navITAOrganizacao.rectory}}</a></h5>
            </div>
            <div class="title">
                <h5><a href="{{config.portal.ita.organizacao.congregacao}}">{{translation.partials.navITAOrganizacao.congragation}}</a></h5>
            </div>
            <div class="title">
                <h5><a href="{{config.portal.ita.organizacao.divisoes}}">{{translation.partials.navITAOrganizacao.divisions}}</a></h5>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="title">
                <h5>{{translation.partials.navITAOrganizacao.proRectories}}</h5>
            </div>
            <ul class="default">
                <li><a href="{{config.portal.ita.organizacao.proReitorias.graduacao}}">{{translation.partials.navITAOrganizacao.graduation}}</a></li>
                <li><a href="{{config.portal.ita.organizacao.proReitorias.posGraduacao}}">{{translation.partials.navITAOrganizacao.postGraduation}}</a></li>
                <li><a href="{{config.portal.ita.organizacao.proReitorias.pesquisaRelacionamentoInstitucional}}">{{translation.partials.navITAOrganizacao.IPR}}</a></li>
                <li><a href="{{config.portal.ita.organizacao.proReitorias.administracao}}">{{translation.partials.navITAOrganizacao.admin}}</a></li>
            </ul>
        </div>
    </div>
</div>