<!-- LOCALIZAÇÃO -->
<div>
    <div class="title">
        <h4>{{translation.partials.navITALocalizacao._title}}</h4>
    </div>
    <div class="text">
        <p><i>{{translation.partials.navITALocalizacao._subtitle}}</i></p>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <div class="widget">
                <div class="widget-heading">
                    <div class="title title-main">
                        <h5>{{translation.partials.navITALocalizacao.findUs}}</h5>
                    </div>
                </div>
                <div class="widget-content">
                    <iframe class="google-iframe-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{config.portal.ita.localizacao.googleFrameMap}}" allow="fullscreen"></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget">
                <div class="widget-heading">
                    <div class="title title-main">
                        <h5>{{translation.partials.navITALocalizacao.ourCampus}}</h5>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="text">
                        <p>{{translation.partials.navITALocalizacao.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>