<li class="megamenu"><a href="/{{language}}/#">{{translation.partials.navITA._menu}}<i class="carret"></i></a>
    <ul class="dropdown megamenu-category">
        <li>
            <div class="row">
                <div class="col-md-3">
                    <nav class="category-nav">
                        <ul>
                            <li class="current text-right"><a href="#">{{translation.partials.navITA.institution}}</a></li>
                            <li class="text-right"><a href="#">{{translation.partials.navITA.organization}}</a></li>
                            <li class="text-right"><a href="#">{{translation.partials.navITA.localization}}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    <div class="category-content">
                        {{> navITAInstituicao }}
                        {{> navITAOrganizacao }}
                        {{> navITALocalizacao }}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>