<div>
    <div class="title">
        <h4>{{translation.partials.navContato.phoneList}}</h4>
    </div>
    <div class="text">
        <p><i>{{translation.partials.navContato._subtitle}}</i></p>
        <p><i>{{translation.partials.phoneList._subtitle}}</i></p>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped"><caption>{{translation.partials.phoneList.firstFloor}}</caption>
                <thead>
                    <tr>
                        <th>{{translation.partials.phoneList.room}}</th>
                        <th>{{translation.partials.phoneList.phone}}</th>
                        <th>{{translation.partials.phoneList.person}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>122</td><td><i class='icomoon-phone'></i>8466</td><td>Marco Antonio</td></tr>
                    <tr><td>123</td><td><i class='icomoon-phone'></i>8467</td><td>Marisa</td></tr>
                    <tr><td>131</td><td><i class='icomoon-phone'></i>8474</td><td>Gilmar</td></tr>
                    <tr><td>132</td><td><i class='icomoon-phone'></i>8500</td><td>Rodrigo Pessoa</td></tr>
                    <tr><td>134</td><td><i class='icomoon-phone'></i>8477</td><td>Argemiro</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-striped"><caption>{{translation.partials.phoneList.secondFloor}}</caption>
                <thead>
                    <tr>
                        <th>{{translation.partials.phoneList.room}}</th>
                        <th>{{translation.partials.phoneList.phone}}</th>
                        <th>{{translation.partials.phoneList.person}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>226</td><td><i class='icomoon-phone'></i>8482</td><td>Maurício</td></tr>
                    <tr><td>227</td><td><i class='icomoon-phone'></i>8508</td><td>Pedro</td></tr>
                    <tr><td>228</td><td><i class='icomoon-phone'></i>8484</td><td>Brett</td></tr>
                    <tr><td>229</td><td><i class='icomoon-phone'></i>8485</td><td>Tobias</td></tr>
                    <tr><td>230</td><td><i class='icomoon-phone'></i>8486</td><td>Malheiro</td></tr>
                    <tr><td>231</td><td><i class='icomoon-phone'></i>8487</td><td>Cesar</td></tr>
                    <tr><td>232</td><td><i class='icomoon-phone'></i>8488</td><td>Wayne</td></tr>
                    <tr><td>233</td><td><i class='icomoon-phone'></i>8489</td><td>Odilon</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-striped"><caption>{{translation.partials.phoneList.secondFloor}}</caption>
                <thead>
                    <tr>
                        <th>{{translation.partials.phoneList.room}}</th>
                        <th>{{translation.partials.phoneList.phone}}</th>
                        <th>{{translation.partials.phoneList.person}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>234</td><td><i class='icomoon-phone'></i>8490</td><td>Mariana</td></tr>
                    <tr><td>235</td><td><i class='icomoon-phone'></i>8491</td><td>Jayr / Inácio</td></tr>
                    <tr><td>236</td><td><i class='icomoon-phone'></i>8492</td><td>André Chaves</td></tr>
                    <tr><td>237</td><td><i class='icomoon-phone'></i>8509</td><td>Rene</td></tr>
                    <tr><td>239</td><td><i class='icomoon-phone'></i>8493</td><td>Marcelo</td></tr>
                    <tr><td>240</td><td><i class='icomoon-phone'></i>8494</td><td>Ivan</td></tr>
                    <tr><td>241</td><td><i class='icomoon-phone'></i>8495</td><td>Lara</td></tr>                
                </tbody>
            </table>
        </div>        
    </div>
</div>
