<aside class="side-options side-options-left" id="language-options">
    <div class="side-options-heading">
        {{#if (eq language "pt")}}
            <a href="/"><span class="current-language">&#x1F1EC;&#x1F1E7;</span>{{{translation.language}}}</a>
        {{else}}
            <a href="/"><span class="current-language">&#x1F1E7;&#x1F1F7;</span>{{{translation.language}}}</a>
        {{/if}}
    </div>
    <div class="side-options-content">
        <ul class="language-list">
            <li><a class="current" href="/pt" data-abbr="PT">{{translation.portuguese}}</a></li>
            <li><a href="/en" data-abbr="EN">{{translation.english}}</a></li>
        </ul>
    </div>
</aside>